h1 {
  font-size: 1.4rem;

  @media (min-width: 768px) {
    font-size: 1.6rem;
  }

  @media (min-width: 1024px) {
    font-size: 1.9rem;
  }
}

h2 {
  font-size: 1.3rem;

  @media (min-width: 768px) {
    font-size: 1.5rem;
  }

  @media (min-width: 1024px) {
    font-size: 1.7rem;
  }
}

h3 {
  font-size: 1.2rem;

  @media (min-width: 768px) {
    font-size: 1.3rem;
  }

  @media (min-width: 1024px) {
    font-size: 1.4rem;
  }
}

.container {
  margin-left: 16px;
  margin-right: 16px;

  @media (min-width: 768px) {
    margin: 0 auto;
    max-width: 736px;
  }

  @media (min-width: 1024px) {
    margin: 0 auto;
    max-width: 900px;
  }
}
