@import '~normalize.css';
@import './responsive.scss';
@import './utils.scss';

body {
  background-color: rgb(0, 30, 60);
  color: #cdcdcd;
}

a {
  color: rgb(102, 178, 255);
}

.main {
  &__heading {
    background-image: url('/images/head-bg.jpg');
    height: 80vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    position: relative;
    text-align: center;

    &-container {
      padding-top: 20vh;
    }

    &-title-img {
      background-color: transparent;
      object-fit: contain;
      display: block !important;
      margin: 0 auto;
      user-select: none;
      z-index: 100;
      width: 80vw;

      @media (min-width: 768px) {
        width: 50vw;
      }
    }
  }
}

.how-why {
  &__container {
    margin-top: 32px;
    margin-bottom: 32px;

    @media (min-width: 768px) {
      display: flex;
      align-items: flex-start;
      gap: 64px;
      margin-top: 64px;
      margin-bottom: 64px;
    }
  }
}

.footer {
  padding-top: 80px;
  padding-bottom: 80px;
}
